# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/

# Android
/android/key.properties
/android/app/google-services.json
*.jks
*.keystore

# iOS
/ios/Runner/GoogleService-Info.plist

# IDE
.idea/
*.iml
.vscode/

# Env & secrets
.env
*.env
/lib/config/secrets.dart